<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta charset="UTF-8">
    <title>我的资料</title>
    <link rel="stylesheet" href="asserts/css/reset.css"/>
    <link rel="stylesheet" href="asserts/css/homeHead.css"/>
    <link rel="stylesheet" href="asserts/css/homePublic.css"/>
    <link rel="stylesheet" href="asserts/css/base.css"/>
</head>
<body>
<div th:replace="common::#topbar"></div>
<div class="homeCen">
    <div th:replace="common::#sidebar(active='base')" ></div>
    <div class="homeCen_right">
        <div class="baseHead">
            <ul>
                <li><a th:href="@{base.html}" class="on">我的资料</a></li>
                <li><a href="">头像</a></li>
                <li><a th:href="@{upload_password.html}">密码</a></li>
            </ul>
        </div>
        <div class="baseCon">
            <div class="baseCon_son">
                <div class="baseCon_son_left">
                    昵称
                </div>
                <div class="baseCon_son_right">
                    <input type="text">
                </div>
            </div>
            <div class="baseCon_son">
                <div class="baseCon_son_left">
                    真实姓名
                </div>
                <div class="baseCon_son_right">
                    <input type="text"/>
                </div>
            </div>
            <div class="baseCon_son">
                <div class="baseCon_son_left">
                    常用邮箱
                </div>
                <div class="baseCon_son_right">
                    <input type="text"/>
                </div>
            </div>
            <div class="chooseSex">
                <p><input type="radio" name="sex" checked/><label>男</label></p>
                <p><input type="radio" name="sex"/><label>女</label></p>
            </div>
            <input type="submit" value="确认修改" class="upload_sure"/>
        </div>
    </div>
</div>
</body>
</html>