<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>我的主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/asserts/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/asserts/css/reset.css"/>
    <link rel="stylesheet" href="/asserts/css/homeHead.css"/>
    <link rel="stylesheet" href="/asserts/css/homePublic.css"/>
    <link rel="stylesheet" href="/asserts/css/home.css"/>
</head>
<body>
<div th:replace="common::#topbar"></div>
<div class="homeCen">
    <div th:replace="common::#sidebar(active='home')"></div>
    <div class="homeCen_right  layui-side-scroll">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>个人信息</legend>
        </fieldset>

        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">用户名</div>
                        <div class="layui-card-body" th:text="${username}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">手机号</div>
                        <div class="layui-card-body" th:text="${session.tel}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">性别</div>
                        <div class="layui-card-body" th:text="${sex}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">邮箱</div>
                        <div class="layui-card-body" th:text="${email}"></div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">个性签名</div>
                        <div class="layui-card-body" th:text="${sign}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">我的学区</div>
                        <div class="layui-card-body" th:text="${studyArea}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">我的家乡</div>
                        <div class="layui-card-body" th:text="${home}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">注册时间</div>
                        <div class="layui-card-body" th:text="${registerTime}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">我的生日</div>
                        <div class="layui-card-body" th:text="${birthday}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">积分值</div>
                        <div class="layui-card-body" th:text="${integral}"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">信誉值</div>
                        <div class="layui-card-body" th:text="${reputationValue}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>