<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link rel="stylesheet" href="asserts/css/reset.css"/>
    <link rel="stylesheet" href="asserts/css/homeHead.css"/>
    <link rel="stylesheet" href="asserts/css/homePublic.css"/>
    <link rel="stylesheet" href="asserts/css/home.css"/>
</head>
<body>
<div th:replace="common::#topbar"></div>
<div class="homeCen">
    <div th:replace="common::#sidebar(active='home')"></div>
    <div class="homeCen_right">
        <div class="home_self"></div>
        <!--男性为male，女性为female-->
        <div class="home_name"><p class="female" th:text="${session.loginUser}"></p></div>
        <div class="home_msg">
            <ul>
                <li>已注册拍王账号50天</li>
                <li>上海</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>