<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的消息</title>
    <link rel="stylesheet" href="asserts/css/reset.css"/>
    <link rel="stylesheet" href="asserts/css/homeHead.css"/>
    <link rel="stylesheet" href="asserts/css/homePublic.css"/>
    <link rel="stylesheet" href="asserts/css/myMsg.css"/>
</head>
<body>
<header class="zyHead">
    <div class="zyHead_cen">
        <a href=""><img src="asserts/img/per-con.png" alt="" class="headPic1"/></a>
        <a href="" class="backIndex">返回首页</a>
        <!--未登入开始-->
        <!--<div class="ltForm">-->
        <!--<a href=""><img src="img/indexForm_bg.png" alt="" class="headPic2"/></a>-->
        <!--<ul>-->
        <!--<li><a href="">登入</a></li>-->
        <!--<li><a href="">注册</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- 未登入结束-->
        <!-- 登入开始，未登入时以下隐藏-->
        <div class="lt_login">
            <ul>
                <li><a href="">花开花落</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
        <!-- 登入结束-->
    </div>
</header>
<div class="homeCen">
    <div class="homeCen_left">
        <ul>
            <li><a href="">我的主页</a></li>
            <li><a href="">基本设置</a></li>
            <li><a href="">我的贴子</a></li>
            <li class="on"><a href="">我的消息</a></li>
            <li><a href="">我的订单</a></li>
        </ul>
    </div>
    <div class="homeCen_right">
        <div class="baseHead">
            <p>我的消息</p>
        </div>
        <div class="myWrite_con">
            <div class="myMsgCon">
                <div class="myMsgCon_pic"></div>
                <div class="myMsgCon_detail">
                    <a href="">xxx回复你:我觉得你说的不对</a>
                </div>
                <p class="myMsgCon_time">15:30:46</p>
            </div>
            <div class="myMsgCon">
                <div class="myMsgCon_pic"></div>
                <div class="myMsgCon_detail">
                    <a href="">xxx回复你:我觉得你说的不对</a>
                </div>
                <p class="myMsgCon_time">15:30:46</p>
            </div>
            <div class="myMsgCon">
                <div class="myMsgCon_pic"></div>
                <div class="myMsgCon_detail">
                    <a href="">xxx回复你:我觉得你说的不对</a>
                </div>
                <p class="myMsgCon_time">15:30:46</p>
            </div>
            <div class="myMsgCon">
                <div class="myMsgCon_pic"></div>
                <div class="myMsgCon_detail">
                    <a href="">xxx回复你:我觉得你说的不对</a>
                </div>
                <p class="myMsgCon_time">2018-3-27 15:30:46</p>
            </div>
        </div>
        <div class="indexFooter">
            <div class="indexFooter_con">
                <a href="javascript:"><</a>
                <a href="" class="on">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="javascript:">></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>