<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>已付款</title>
    <link rel="stylesheet" href="asserts/css/reset.css"/>
    <link rel="stylesheet" href="asserts/css/homeHead.css"/>
    <link rel="stylesheet" href="asserts/css/homePublic.css"/>
    <link rel="stylesheet" href="asserts/css/myOrder.css"/>
</head>
<body>
<header class="zyHead">
    <div class="zyHead_cen">
        <a href=""><img src="asserts/img/per-con.png" alt="" class="headPic1"/></a>
        <a href="" class="backIndex">返回首页</a>
        <!--未登入开始-->
        <!--<div class="ltForm">-->
        <!--<a href=""><img src="img/indexForm_bg.png" alt="" class="headPic2"/></a>-->
        <!--<ul>-->
        <!--<li><a href="">登入</a></li>-->
        <!--<li><a href="">注册</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- 未登入结束-->
        <!-- 登入开始，未登入时以下隐藏-->
        <div class="lt_login">
            <ul>
                <li><a href="">花开花落</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
        <!-- 登入结束-->
    </div>
</header>
<div class="homeCen">
    <div class="homeCen_left">
        <ul>
            <li><a href="">我的主页</a></li>
            <li><a href="">基本设置</a></li>
            <li><a href="">我的贴子</a></li>
            <li><a href="">我的消息</a></li>
            <li class="on"><a href="">我的订单</a></li>
        </ul>
    </div>
    <div class="homeCen_right">
        <div class="baseHead">
            <ul>
                <li><a href="">全部订单</a></li>
                <li><a href="">待付款</a></li>
                <li><a href="" class="on">已付款</a></li>
                <li><a href="">待评价</a></li>
                <li><a href="">售后</a></li>
            </ul>
        </div>
        <div class="myWrite_con">
            <div class="msg-tittle">
                <div class="order_top">订单编号</div>
                <div class="product_top">购买产品</div>
                <div class="pay_top">支付信息</div>
                <div class="book_top">下单时间</div>
                <div class="now_top">当前状态</div>
                <div class="operate_top">操作</div>
            </div>
            <div class="msg-con">
                <div class="order">PW-2018022817524131</div>
                <div class="product">车牌指标延期</div>
                <div class="pay">支付金额</div>
                <div class="book">15:30:26</div>
                <div class="now">待支付</div>
                <div class="operate">
                    <a href="" class="payfor">去评价</a>
                    <button class="cancel_order bad-thing">删除订单</button>
                </div>
            </div>
        </div>
        <div class="indexFooter">
            <div class="indexFooter_con">
                <a href="javascript:"><</a>
                <a href="" class="on">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="javascript:">></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>