<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="/asserts/css/reset.css"/>
    <link rel="stylesheet" href="/asserts/css/public.css"/>
    <link rel="stylesheet" href="/asserts/css/index.css"/>
    <link rel="stylesheet" href="/asserts/css/search.css"/>
</head>
<body>
<header th:replace="~{index::homePageTop}"></header>
<div class="searchBody">
    <div class="writePending">
        <div class="newPending_head">
            <div class="tzHeng"></div>
            <div class="newPending_head_tittle">搜索</div>
        </div>
        <div class="writePending_con">
            <form th:action="@{/search}" method="get">
                <input type="text" placeholder="请输入标题关键词..." th:value="${keyword}" name="keyword"/>
                <input type="submit" value="搜索">
            </form>
        </div>
    </div>
    <div class="indexMain_left_con">
        <!--有主题图循环开始-->
        <div class="indexCon_msg" th:each="likelyPosts,likelyPostStat:${lPostUserMap}">
            <div class="indexCon_msg_pic">
                <img class="indexCon_msg_pic_img" th:src="${likelyPostStat.current.value.getHead()!=null}?${likelyPostStat.current.value.getHead()}:'/asserts/img/cs.png'">
            </div>
            <div class="indexCon_msg_detail">
                <a th:href="@{/toPost(postId=${likelyPostStat.current.key.getPostID()})}">
                    <div class="indexCon_msg_detail_tittle">
                        <span th:text="${likelyPostStat.current.key.getModuleType()}">类别</span>
                        <p th:text="${likelyPostStat.current.key.getPostTitle()}">帖子标题</p>
                    </div>
                </a>
                <div class="havePic" th:if="${likelyPostStat.current.key.getImageAddress()!=null}">
                    <a th:href="${likelyPostStat.current.key.getImageAddress()}">
                        <div class="havePic_head">
                            <img th:src="${likelyPostStat.current.key.getImageAddress()}" class="havePic_head img">
                        </div>
                    </a>
                </div>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li th:text="${likelyPostStat.current.key.getPosterName()}">（发帖人）</li>
                        <li th:text="${likelyPostStat.current.key.getPostTime()}">（发表时间）</li>
                        <li th:text="${likelyPostStat.current.key.getPageView()}">（浏览量）</li>
                        <!--                        <li>（评论数）</li>-->
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--有主题图循环结束-->
    </div>
</div>
</body>
</html>
<script src="/asserts/js/jquery-1.8.3.min.js"></script>
<script>
    window.onscroll=function(){
        var scrolls=document.body.scrollTop||document.documentElement.scrollTop;
        var slided=60;
        if(scrolls>=slided){
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        }else{
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
</script>