<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="asserts/css/reset.css"/>
    <link rel="stylesheet" href="asserts/css/public.css"/>
    <link rel="stylesheet" href="asserts/css/search.css"/>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <a href=""><img src="asserts/img/logo.png" alt="" class="headPic1"/></a>
        <ul class="headNav">
            <li><a href="">首页</a></li>
            <li><a href="">沪牌竞拍</a></li>
            <li><a href="">拍王助手</a></li>
            <li><a href="">深圳竞价摇号</a></li>
            <li><a href="">广州竞价摇号</a></li>
            <li><a href="">杭州竞价摇号</a></li>
            <li><a href="">天津竞价摇号</a></li>
            <li><a href="">增值服务</a></li>
        </ul>
        <!--未登入开始-->
        <!--<div class="ltForm">-->
        <!--<a href=""><img src="img/indexForm_bg.png" alt="" class="headPic2"/></a>-->
        <!--<ul>-->
        <!--<li><a href="">登入</a></li>-->
        <!--<li><a href="">注册</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- 未登入结束-->
        <!-- 登入开始，未登入时以下隐藏-->
        <div class="lt_login">
            <ul>
                <li><a href="">花开花落</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
        <!-- 登入结束-->
    </div>
</header>
<div class="searchBody">
    <div class="writePending">
        <div class="newPending_head">
            <div class="tzHeng"></div>
            <div class="newPending_head_tittle">搜索</div>
        </div>
        <div class="writePending_con">
            <input type="text" placeholder="请输入关键词..."/>
            <input type="submit" value="搜索"/>
        </div>
        <ul class="searchBtn">
            <li>置顶</li>
            <li class="on">最新</li>
        </ul>
    </div>
    <div class="indexMain_left_con">
        <!--有主题图循环开始-->
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="havePic">
                    <a href=""><div class="havePic_head"></div></a>
                </div>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--有主题图循环结束-->
        <!--无主题图循环开始-->
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--无主题图循环结束-->
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="havePic">
                    <a href=""><div class="havePic_head"></div></a>
                </div>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="havePic">
                    <a href=""><div class="havePic_head"></div></a>
                </div>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="indexCon_msg">
            <div class="indexCon_msg_pic"></div>
            <div class="indexCon_msg_detail">
                <a href="">
                    <div class="indexCon_msg_detail_tittle">
                        <span>竞拍</span>
                        <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                    </div>
                </a>
                <div class="indexCon_msg_detail_other">
                    <ul>
                        <li>花开花落</li>
                        <li>1天前</li>
                        <li>21</li>
                        <li>28</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="indexFooter">
        <div class="indexFooter_con">
            <a href="javascript:"><</a>
            <a href="" class="on">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="javascript:">></a>
        </div>
    </div>
</div>
</body>
</html>