<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>帖子</title>
    <link rel="stylesheet" href="/asserts/css/reset.css"/>
    <link rel="stylesheet" href="/asserts/css/public.css"/>
    <link rel="stylesheet" href="/asserts/css/index.css"/>
</head>
<body>
<header th:replace="index::homePageTop"></header>
<div class="indexMain">
    <div class="indexMain_left">
        <div class="tzCon">
            <div class="tzCon_head">
                <div class="tzCon_head_left">（头像）</div>
                <div class="tzCon_head_right">
                    <h1 th:text="${post.getPostTitle()}">(帖子标题)</h1>
                    <ul>
                        <li th:text="${post.getPosterName()}">（发帖人）</li>
                        <li th:text="${post.getPostTime()}">（发帖时间）</li>
                        <li th:text="${post.getLikeNumber()}">（点赞量）</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tzCon_con" th:text="${post.getPostContent()}">
                (帖子内容）
            </div>
<!--            <div class="tzCon_foot">-->
<!--                <div class="tzCollect">-->
<!--                    <div class="tzCollect_left">收藏</div>-->
<!--                    <div class="tzCollect_right">131</div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="newPending">
            <div class="newPending_head">
                <div class="tzHeng"></div>
                <div class="newPending_head_tittle" th:text="'全部评论'+${comments.size()}">最新评论(52)</div>
            </div>
            <!--楼主可以删除评论、自己可以删除自己的评论删除按钮酌情出现-->
            <div class="newPending_son" th:each="comment:${comments}">
                <div class="pendPic">评论者头像</div>
                <div class="pendDetail">
                    <div class="pendDetail_head">
                        <p>评论者id<span>评论时间</span></p>
                        <i>2楼</i>
                    </div>
                    <div class="pendDetail_con">
                        <p th:text="${comment.getPostContent()}">评论内容</p>
                    </div>
                    <div class="pendDetail_btn">
                        <ul>
                            <li>361</li>
                            <li class="replayBtn">278</li>
                            <li class="delateBtn">删除</li>
                        </ul>
                    </div>
                    <div class="pendDetail_action">
                        <input type="text" value="回复XXX:"/>
                        <button>评论</button>
                        <button>取消</button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
<!--            &lt;!&ndash;回复后的情况&ndash;&gt;-->
<!--            <div class="newPending_son">-->
<!--                <div class="pendPic"></div>-->
<!--                <div class="pendDetail">-->
<!--                    <div class="pendDetail_head">-->
<!--                        <p>花开花落 <span>1天前</span></p>-->
<!--                        <i>2楼</i>-->
<!--                    </div>-->
<!--                    <div class="pendDetail_con">-->
<!--                        <p>测试一下图片,4文档和3文档差别很大测试一下图片,4文档和3文档差别很大</p>-->
<!--                    </div>-->
<!--                    <div class="pendDetail_replayCon">-->
<!--                        <p>回复桃花朵朵开：确实，正确的。</p>-->
<!--                    </div>-->
<!--                    <div class="pendDetail_btn">-->
<!--                        <ul>-->
<!--                            <li>361</li>-->
<!--                            <li class="delateBtn">删除</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="clear"></div>-->
<!--            </div>-->
            <!--测试内容-->
            <!--……-->
            <!--测试内容结束、十条内容分页-->
        </div>
<!--        <div class="indexFooter">-->
<!--            <div class="indexFooter_con">-->
<!--                <a href="javascript:"><</a>-->
<!--                <a href="" class="on">1</a>-->
<!--                <a href="">2</a>-->
<!--                <a href="">3</a>-->
<!--                <a href="javascript:">></a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="writePending">
            <div class="newPending_head">
                <div class="tzHeng"></div>
                <div class="newPending_head_tittle">评论</div>
            </div>
            <form class="writePending_con" th:action="@{/writeComment}" method="post">
                <input type="text" placeholder="写下你的评论..." name="comment"/>
                <input type="hidden" th:value="${postId}" name="postId">
                <input type="submit" value="评论"/>
            </form>
        </div>
    </div>
    <div class="indexMain_right">
        <a href="" class="newMsg">发新帖</a>
        <div class="myMsg" th:replace="index::homePageRight0">
<!--            <div class="myMsg_con">-->
<!--                <div class="myMsg_conPic"></div>-->
<!--                <p>花开花落</p>-->
<!--            </div>-->
<!--            <div  class="myMsg_footer">-->
<!--                <ul>-->
<!--                    <li><a href="">-->
<!--                        <p>主题数</p>-->
<!--                        <p>23</p>-->
<!--                    </a></li>-->
<!--                    <li><a href="">-->
<!--                        <p>精华数</p>-->
<!--                        <p>23</p>-->
<!--                    </a></li>-->
<!--                    <li><a href="">-->
<!--                        <p>注册排名</p>-->
<!--                        <p>23</p>-->
<!--                    </a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div th:replace="index::homePageRight1"></div>
        <div th:replace="index::homePageRight2"></div>
        <div th:replace="index::homePageRight3"></div>
    </div>
    <div class="clear"></div>
</div>
<footer class="publicFooter">
    <p name="footer0">Copyright &copy; 2019-2020 BBS论坛 南昌大学信息工程学院计算机科学与技术专业JavaWeb程序设计课程期末大作业版权所有 version：1.0.0</p>
</footer>
</body>
</html>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/tiezi.js"></script>
<script>

</script>