<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>发表帖子</title>
    <link rel="stylesheet" href="/asserts/css/reset.css"/>
    <link rel="stylesheet" href="/asserts/css/public.css"/>
    <link rel="stylesheet" href="/asserts/css/write.css"/>
    <link rel="stylesheet" href="/asserts/css/index.css"/>
    <link rel="stylesheet" href="/asserts/layui/css/layui.css"  media="all">
</head>
<body>
<header th:replace="index::homePageTop"></header>
<div class="writeCon">
    <div class="writeCon_head">
        <p>发新帖</p>
    </div>
    <form method="post" th:action="@{/savePost}">
        <div class="writeCon_cen">
            <p  th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" style="color: red;font-weight: bold;font-size: 30px;" ></p>
            <div class="writeMsg">
                <!-- 标题最大字数15个-->
                <input type="text" name="title" placeholder="❤标题❤" maxlength="15" required/>
            </div>

            <div class="writeMsg">
                <!-- 悬赏分-->
                <input type="number" required name="reward" placeholder="💰悬赏分💰" min="0" max="100"/>
            </div>

            <div class="writeMsg" style="font-size:23px">
                <label>🌄类型:</label>
                <select style="width: auto" name="type">
                    <option value="天健园">🙈天健园</option>
                    <option value="休闲区">🙉休闲区</option>
                    <option value="医学院">🙊医学院</option>
                </select>
            </div>

            <div>
                <!-- 文本正文字数限制1000字-->
                <textarea name="text" cols="78" rows="10" maxlength="1000" required style="font-size: 20px;border:2px solid #9F9F9F;"></textarea>
            </div>
            <div>
                <input type="submit" class="reform" value="发布" style="font-weight: bold;font-size: 20px;"/>
            </div>
        </div>

    </form>
</div>
</body>
</html>
<script src="/asserts/js/jquery-1.8.3.min.js"></script>
<script src="/asserts/layui/layui.js" charset="utf-8"></script>
<script>
    $('[name="nice-select"]').click(function(e){
        $('[name="nice-select"]').find('ul').hide();
        $(this).find('ul').show();
        e.stopPropagation();
    });
    $('[name="nice-select"] li').hover(function(e){
        $(this).toggleClass('on');
        e.stopPropagation();
    });
    $('[name="nice-select"] li').click(function(e){
        var val = $(this).text();
        var dataVal = $(this).attr("data-value");
        $(this).parents('[name="nice-select"]').find('input').val(val);
        $('[name="nice-select"] ul').hide();
        e.stopPropagation();
    });
    $(document).click(function(){
        $('[name="nice-select"] ul').hide();
    });
    window.onscroll=function(){
        var scrolls=document.body.scrollTop||document.documentElement.scrollTop;
        var slided=60;
        if(scrolls>=slided){
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        }else{
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
</script>